//pixabay for pictures
doctype html
html
  head
    title Ollie Bike Sharing
    meta(charset='utf-8')
    //link(rel='stylesheet', type='text/css', href='main.css')
    style
      include main.css
  body
    .container
      .nav
        h2 Ollie
        ul
          li sign up
          li search bikes
          li reserve a bike
          li about us
      .main
        h1 Youngjae Bike share
        h3 Youngjae start your padal!
        p
          | paragraph text is here
          a(href='http://google.com') Here is a list of cities where you can find us. 
          |  Here is a 
          a(href='cities.html') list
          |  of cities where you can find us.
        img(src='https://proxy.goorm.io//service/5cb014c898d417537a6cedd2_dyvcphvbnlahgpatgdd.run.goorm.io/9080//file/load/baristar.jpg?path=d29ya3NwYWNlJTJGbm9kZWpzJTJGV2ViYXBwLW15c3FsJTJGdmlld3MlMkZteXNxbCUyRmJpa2UlMkZpbWFnZXMlMkZiYXJpc3Rhci5qcGc=&docker_id=dyvcphvbnlahgpatgdd&secure_session_id=vectkwbYEW0NyCmQUef4CzfDf0l1ccA_', alt='')      
        img(src='https://proxy.goorm.io//service/5cb014c898d417537a6cedd2_dyvcphvbnlahgpatgdd.run.goorm.io/9080//file/load/coffee.jpg?path=d29ya3NwYWNlJTJGbm9kZWpzJTJGV2ViYXBwLW15c3FsJTJGdmlld3MlMkZteXNxbCUyRmJpa2UlMkZpbWFnZXMlMkZjb2ZmZWUuanBn&docker_id=dyvcphvbnlahgpatgdd&secure_session_id=vectkwbYEW0NyCmQUef4CzfDf0l1ccA_', alt='')
        video(width='320', height='240', controls='')
          source(src='https://s3.amazonaws.com/codecademy-content/projects/make-a-website/lesson-1/ollie.mp4', type='video/mp4')
