doctype html
html
  head
    //https://athemes.com/collections/coffee-shop-wordpress-themes/#
    //https://freefrontend.com/css-headers-footers/#article-headers
    //https://corretto.elated-themes.com/#
    //link(href='style.css', rel='stylesheet', type='text/css')
    link(href='//fonts.googleapis.com/css?family=Pacifico', rel=stylesheet)
    style
      include style.css
  body
    .container
      header
         h1 Steamin' Coffee
         nav
           a(href='/coffee') Home
           a(href='#') About
           a(href='#') Menu
           a(href='#') Reservation
           a(href='#') Gallery
           a(href='#') Contact
        .hero
          img(src='https://corretto.elated-themes.com/wp-content/uploads/2018/04/h1-slider-img-1.png', alt='a', width='146', height='144', style='width: 150px; height: 150px; text-align: inherit; line-height: 0px; border-width: 0px; margin: 0px; padding: 0px;')
      //  .hero-content
      //    div
      //      h2 Organic Tea and Coffee
      //    div
      //     h2 Freshly Baked Pastries
      //    div
      //      h2 Free Wifi
      //    div
      //      h3 Read Our Menu
      .supporting-container
        .upcoming
          h3 Upcoming events
        .roast
          h3 Today's Roast
      p#footer Contact Us
